*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    position: fixed;
    /* display: inline-block; */
    top: 0px;
    right: 0px;
    width: 350px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(231, 155, 40); */
    z-index: 5;
}

.menu
{
    position: absolute;
    width: 350px;
    height: 75px;
    top: 0px;
    z-index: 5;
    /* background-color: red;    */
    cursor: pointer;
    /* justify-content: ; */
}

.pause
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 130px;
    left: -150px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    animation: dropingX 0.5s ease-in-out forwards;
}

.pause a img
{
    position: absolute;
    top: 0px;
}

.pausesleep
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 130px;
    left: 32px;
    opacity: 1;
    z-index: 1;
    animation: dropingX_alternate 0.3s ease-in-out forwards 0.3s; 
}

.cash
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 210px;
    left: -150px;
    z-index: 1;
    cursor: pointer;  
    opacity: 0;
    /* background-color: blue; */
    animation: dropingX 0.5s ease-in-out forwards 0.1s;
}

.cash a img
{
    position: absolute;
    top: 0px;
}

.cashsleep
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 210px;
    left: 32px;
    opacity: 1;
    z-index: 1;
    animation: dropingX_alternate 0.3s ease-in-out forwards 0.2s; 
}


.setting
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 290px;
    left: -150px;
    z-index: 1;
    cursor: pointer;  
    opacity: 0;
    /* background-color: orange; */
    animation: dropingX 0.5s ease-in-out forwards 0.2s;
}

.setting a img
{
    position: absolute;
    top: 0px;
}

.settingsleep
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 290px;
    left: 32px;
    opacity: 1;
    z-index: 1; 
    animation: dropingX_alternate 0.3s ease-in-out forwards 0.1s; 
}

.outgame
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 370px;
    left: -150px;
    z-index: 1;
    cursor: pointer; 
    opacity: 0;
    /* background-color: green; */
    animation: dropingX 0.5s ease-in-out forwards 0.3s; 
}

.outgame a img
{
    position: absolute;
    top: 0px;
}

.outgamesleep
{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 370px;
    left: 32px;
    opacity: 1;
    z-index: 1; 
    display: inline-block;
    animation: dropingX_alternate 0.3s ease-in-out forwards; 
}

.stick
{
    position: absolute;
    height: 360px;
    width: 29px;
    top: -250px;
    left: 65px;
    z-index: -1;
    opacity: 0;
    animation: dropingY 0.5s ease-in-out forwards; 
}

.sticksleep
{
    position: absolute;
    height: 360px;
    width: 29px;
    top: 30px;
    left: 65px;
    opacity: 1;
    animation: dropingY_alternate 0.5s ease-in-out forwards 0.3s; 
}

@keyframes dropingX {
    0% {
        display: inline-block;
        transform: translateX(-150px);
    }100% {
        transform: translateX(182px);
        opacity: 1;
    }
}

@keyframes dropingX_alternate {
    0% {
        transform: translateX(0);
    }99% {
        transform: translateX(-150px);
        opacity: 0;
        display: none;
    }100% {
        transform: translateY(-500px);
        opacity: 0;
        display: none;
    }
}

@keyframes dropingY {
    0% {
        display: inline-block;
        transform: translateY(-250px);
    }100% {
        transform: translateY(280px);
        opacity: 1;
    }
}

@keyframes dropingY_alternate {
    0% {
        transform: translateY(0px);
    }99% {
        transform: translateY(-250px);
        opacity: 0;
        display: none;
    }100% {
        transform: translateY(-330px);
        opacity: 0;
        display: none;
    }
}