*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.containerAll
{
    position: relative;
    max-width: 1200px;
    max-height: 770px;
    width: 1200px;
    height: 770px;
    margin: 0;
    padding: 8px;
    /* background-color: rgb(179, 114, 17); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1
{
    position: relative;
    margin: 0;
    padding: 40px;
    background-color: rgb(117, 91, 57);
    border-radius: 20px;
}

.container2
{
    position: relative;
    margin: 0;
    padding: 8px;
    background-color: rgb(75, 59, 38);
    border-radius: 20px;
}

.container3
{
    position: relative;
    max-width: 1000px;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(219, 186, 76);
    border-radius: 35px;
    overflow: hidden;
    /* rgba(238, 193, 125, 0.8); */
}

.mytable 
{
    border: 2px solid rgb(109, 63, 3); 
    padding: 0;
}

tr 
{
    margin: 0px;
    padding: 0;
    line-height: 0px;
}

td
{
    margin: 0;
    padding: 0;
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

td:hover
{
    opacity: 0.5;
    transform: scale(1.2);
} 

.btnpuase
{
    position: absolute;
    cursor: pointer;
    height: 250px;
    width: 250px;
    height: 120px;
    left: 0;
    top: 0;
}

.btnpuase span 
{
    background-color: red;
}

.btnshop
{
    position: absolute;
    cursor: pointer;
    height: 250px;
    width: 250px;
    height: 120px;
    left: 0px;
    top: 0px;
}

.bg
{
    position: absolute;
    left: 0;
    top: 0;
    height: 790px;
    width: 1700px;
    z-index: 0;
}

.blood
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: -15%;
    /* width: 500px;
    height: 500px; */
    background-color: rgb(53, 49, 49);
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}

.containerBlood
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 50px;
    top: 20%;
}